ANTHROPIC_API_KEY=
ANTHROPIC_TRANSLATION_MODEL=claude-sonnet-4-0
ANTHROPIC_GRAMMAR_MODEL=claude-opus-4-1
CARTESIA_API_KEY=
CARTESIA_MODEL_ID=sonic-3
CARTESIA_VOICE_ID=5ee9feff-1265-424a-9d7f-8e4d431a12c7
